body .PP7LM0Ow1K5qkR8WElLpt {
    padding: 6px !important;
    border: 3px solid rgb(var(--st-color-5));
    border-radius: var(--st-border-radius);
    background: unset;
    background-color: rgb(var(--st-color-3));
}


body .PP7LM0Ow1K5qkR8WElLpt .tid_OE5NJWCCVJQP1PfRc {
    min-width: unset;
    width: 316px;
    max-width: unset;
    min-height: 424px;
    max-height: 424px;
    border-radius: 0;
}


/*
! Header
*/
body .PP7LM0Ow1K5qkR8WElLpt .tid_OE5NJWCCVJQP1PfRc ._1yVkTX9Mo_7qb2sxWhM0Cr {
    gap: 6px;
    border: unset;
}


/** Buttons */
body .PP7LM0Ow1K5qkR8WElLpt .tid_OE5NJWCCVJQP1PfRc ._2CJ0LpiSgVs2JuTlwbzBM {
    width: -webkit-fill-available;
    height: unset;
    padding: 6px 12px;
    border: unset !important;
    background-color: rgb(var(--st-color-2));
}

body .PP7LM0Ow1K5qkR8WElLpt .tid_OE5NJWCCVJQP1PfRc ._2CJ0LpiSgVs2JuTlwbzBM ._1mROo5bpUJSg8D8ILx7qpw {
    width: 18px;
    height: 18px;
    padding: 0;
}


/*
! Searchbar
*/
body .PP7LM0Ow1K5qkR8WElLpt .tid_OE5NJWCCVJQP1PfRc .EuFePPYFGrcf99uLXmBYN {
    margin-top: 12px;
    padding: 6px 6px 0;
    border-radius: var(--st-border-radius) var(--st-border-radius) 0 0;
    background-color: rgb(var(--st-color-2));
}


body .PP7LM0Ow1K5qkR8WElLpt .tid_OE5NJWCCVJQP1PfRc .EuFePPYFGrcf99uLXmBYN ._2l4z-U60lABvd9XWArGjAf {
    height: unset;
    padding: 6px 12px;
    border-radius: var(--st-border-radius);
    box-shadow: unset;
    background-color: rgb(var(--st-color-1)) !important;
}


/*
! Content
*/
body .PP7LM0Ow1K5qkR8WElLpt .tid_OE5NJWCCVJQP1PfRc .dUQIH8Qg80N6kjB8UQO0P {
    order: 1;
    padding: 6px;
    border-radius: 0 0 var(--st-border-radius) var(--st-border-radius);
    background-color: rgb(var(--st-color-2));
}
body .PP7LM0Ow1K5qkR8WElLpt .tid_OE5NJWCCVJQP1PfRc .dUQIH8Qg80N6kjB8UQO0P:has(.W_hPU2JmhTx3oUqDN9ADo) {
    margin-bottom: calc(46px + 6px);
}


/** Header */
body .PP7LM0Ow1K5qkR8WElLpt .tid_OE5NJWCCVJQP1PfRc .dUQIH8Qg80N6kjB8UQO0P ._3WuFl419BivPeLqeVIC939 {
    padding: 6px 0;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    color: #8b8b8b;
}


/*
! Emoji info
*/
body .PP7LM0Ow1K5qkR8WElLpt .tid_OE5NJWCCVJQP1PfRc .dUQIH8Qg80N6kjB8UQO0P ._1SFqyFzFrpPOEAKCrq2kKZ {
    margin: 0;
    padding: 0;
}


body .PP7LM0Ow1K5qkR8WElLpt .tid_OE5NJWCCVJQP1PfRc .dUQIH8Qg80N6kjB8UQO0P .P1aWuK_DhstDh-M08okCK {
    position: unset;
    width: unset;
    height: unset;
    padding: 0;
}

body .PP7LM0Ow1K5qkR8WElLpt .tid_OE5NJWCCVJQP1PfRc .dUQIH8Qg80N6kjB8UQO0P .P1aWuK_DhstDh-M08okCK>img._1ZQW1wV5cNj3sDpibfbUqs {
    width: unset;
    height: unset;
    padding: 9px;
}


body .PP7LM0Ow1K5qkR8WElLpt .tid_OE5NJWCCVJQP1PfRc .dUQIH8Qg80N6kjB8UQO0P ._2_lmTz0tA4NOSle5WaO1PZ {
    position: absolute;
    inset: unset;
    bottom: 97px;
    right: 143px;
    width: 313px;
    height: 46px;
}

body .PP7LM0Ow1K5qkR8WElLpt .tid_OE5NJWCCVJQP1PfRc .dUQIH8Qg80N6kjB8UQO0P .W_hPU2JmhTx3oUqDN9ADo {
    opacity: 1 !important;
    box-sizing: border-box;
    top: unset !important;
    bottom: 0px;
    left: unset !important;
    display: flex !important;
    width: -webkit-fill-available;
    min-height: 46px;
    margin: 0;
    padding: 6px;
    border-radius: var(--st-border-radius);
    background-color: rgb(var(--st-color-2));
    box-shadow: unset;
}


/** Image */
body .PP7LM0Ow1K5qkR8WElLpt .tid_OE5NJWCCVJQP1PfRc .dUQIH8Qg80N6kjB8UQO0P .W_hPU2JmhTx3oUqDN9ADo img {
    width: 26px;
    height: 26px;
    margin: 0;
}


/** Text */
body .PP7LM0Ow1K5qkR8WElLpt .tid_OE5NJWCCVJQP1PfRc .dUQIH8Qg80N6kjB8UQO0P .W_hPU2JmhTx3oUqDN9ADo ._29D_0UxbftoceIAKZktndo {
    padding-left: 6px;
}

/*^ Main */
body .PP7LM0Ow1K5qkR8WElLpt .tid_OE5NJWCCVJQP1PfRc .dUQIH8Qg80N6kjB8UQO0P .W_hPU2JmhTx3oUqDN9ADo ._3zUR2KWg7TNWOQx2nDFyoh {
    padding-bottom: 1px;
}

/*^ Description */
body .PP7LM0Ow1K5qkR8WElLpt .tid_OE5NJWCCVJQP1PfRc .dUQIH8Qg80N6kjB8UQO0P .W_hPU2JmhTx3oUqDN9ADo ._2JWWOJGZuX70xQcA2QaBg:has(span) {
    display: none;
}